.axis path,
.axis line {
  fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 12px;
	z-index:100;
}
svg{
	margin:0 auto;
	padding: 50px 50px 50px 50px;
}
#plotArea{
	margin:0 auto;
	width:100%;
}

.legend-title{
	font-size: 20px;
}
